body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
}

h1,
h2 {
  font-family: Verdana, Tahoma;
}

h2 {
  border-bottom: 4px solid #dfdfe2;
}

nav > ul {
  /*Used the child combinator selector (>) Targets all children of <nav> that are <ul>s */
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#logo {
  width: max(
    10rem,
    18vw
  ); /* used the width() to set the minimum value for the img */
  background-color: #0a0a23;
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}

/* Question section */
/* The following block of code makes the 'questions' labels invisible to the eye while still being able to be read by screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
